dist: xenial
sudo: required
language: python
cache: false
python:
- 3.6.6
before_install:
- echo -e "machine github.com\n  login $GH_TOKEN" > ~/.netrc
install:
- echo "Installing dependencies"
- sudo apt-get update
- wget https://repo.continuum.io/miniconda/Miniconda3-latest-Linux-x86_64.sh -O miniconda.sh
- bash miniconda.sh -b -p $HOME/miniconda
- export PATH="$HOME/miniconda/bin:$PATH"
- hash -r
- conda config --set always_yes yes --set changeps1 no
- conda update -q conda
- conda info -a
- conda create --name ta1-test-env python=3.6
- source activate ta1-test-env
- sudo apt-get install libgnutls28-dev
- pip install -e git+https://gitlab.com/datadrivendiscovery/d3m@master#egg=d3m 
  --progress-bar off
- pip install -e git+https://gitlab.com/datadrivendiscovery/common-primitives@master#egg=common-primitives
  --progress-bar off
- pip install -e git+https://gitlab.com/datadrivendiscovery/sklearn-wrap@dist#egg=sklearn-wrap
  --progress-bar off
- pip install -e git+https://github.com/usc-isi-i2/dsbox-cleaning@devel#egg=dsbox-datacleaning
  --progress-bar off
- pip install -e git+https://github.com/usc-isi-i2/dsbox-featurizer@devel#egg=dsbox-featurizer
  --progress-bar off
- pip install -e git+https://github.com/brekelma/dsbox_corex@master#egg=dsbox_corex
  --progress-bar off
- pip install psutil==5.4.7
script:
- echo "Generating primitive description json and pipelines"
- cd .travis
- git clone https://${GH_TOKEN}@github.com/usc-isi-i2/dsbox-unit-test-datasets.git
- python genreate-pipelines-json.py
- python generate-primitive-json.py
after_success:
- echo "Generated succeed, now pushing files"
- bash push.sh
env:
  global:
  - secure: KYxD+0C79e7C3WkyuBM3q3NCgnhS0qd7zRxym6ZcEJEzQPsWjRuEGICg70EbKcCuKDUM5lgRZl4ueC8sriqeKmftYwckfd8PVHMr86jLie4vi6u69Fntxrp6K6CD6QL1d52Gi4ETtfX4O3qVXYmjNkwMViOZDHwEsKJMkO0v7wswSPb2OOnbqSU9Sm7SiQqQguflvVd25wpR9LnG6aprOi8zkWrgyA4AKQQH60I489A9XC+UKi7z84vtUh0PccHg/HBkmVkLC2WYYtrs805HP+Lmpd8v6coNRdZxucMqTEww4APBR0wSkC+uA4Tj35Tg2nLfDJDUgxb/xBTo6GyRoEWuJZ/pS889+qhUMJrhXvMf+4OrhnZ95J9GT+SXdetsqpL+STpiX8i3KrXTqHS6rRQB5LkRYTKKS0yWASyuYj+GYxg9EIgtYxCeXJ+YQ8icxRYRA9kPkDnBYPVYM0uICVuRaPSU8kk27KeKH120Rz5KJG8oUKra1meXkmPwDt/oNUlBTsa7LT1SDCrztgIP9wrVg0WQTaOwyjxetlFtmtQCKEX6Ulxp7rDh7JMng7KCIw4px7PxnofrJ7Et6ZwcI/GENn5eEdE1dna58Cg/q9Wa+gA6FdHsg7BxYmEw2AVZ4rz+fYDvQrI/B3id8VITc/n1DuvrXf0fjN7iy60e6zU=
  - secure: lb1aBFLSWn84QylypTxwVECxtNcGvUhmJZUPeGIHpL21SdnV97cjzv41zml/PtR4P6mm0KDyTHU8iUc6ZzZXcZvrCgU4Mo2PBSAxGww2MFXQ2Ex8ikFbiiHt5CuzMHSXfjVJwcRIB6CxyZrizH0qideyjAJriTYoZS2fYFS32XWd7NLwVyImTaBIZaki6KuCGt3aU8gHKEGCCT13XuXaxXRZ1kJuQKk6MDCTywN5TooLbjsYUTs2GHwIvr1gZI/nRsVExgzJnHmu2vg413WM+qVnaPL1E0RTOK+mlfsPSNptHxAqlUKHiLQYXbqpr92hx3xaEwSqdwWI8ZOd769AaWpz5htDJqeHrljpCv1LQl9mn4GJKd1Mayk9pEKKbWTerQqf2Pnjl6nnHFyB+jPanw8K85Mc4mYCS6u/6h8IiooXULg8M3qGlnuON3xQKxqxGjEnOpKgLCPPohHVtuih0Zp1FsNxC8O5J0MqBeexcFJdGcG3TS3vgq+76h9GzhFBU10PtcsEcSNIqqAnOwds8IDxFDYbLw50i3VoAAwQYb2KWLtXsSNLFuYbzvgcs4XUE9WzOMD0uAdbueaeU3A+iEtUBbnO2vNCQURljxwKkTjJ4+wE8BS128hgkXo+Xvo7dV4jT4ccxPfe7IEP6495fqeg0QVm9IEFhIn3GD5Y+os=
